body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ebd4d4;
    text-align: center;
}

button {
    display: block;
    width: 100px;
    height: 30px;
    margin: 10px auto;
    background-color: #205a18;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}